<div class="block">
  <h1>To make an appointment, please contact us at:</h1>
  <table>
    <tr>
      <td>Mail</td>
      <td>Medical Advisory Center</td>
    </tr>
    <tr>
      <td></td>
      <td>4221 Wilshire Blvd, Suite 170-15</td>
    </tr>
    <tr>
      <td></td>
      <td>Los Angeles, CA 90010</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Phone #</td>
      <td>(323) 965-0420</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td>h420mac@yahoo.com</td>
    </tr>
  </table>
</div>
