<div class="block">
  <h1>Benefits of Using Medical Marijuana?</h1>
  <p>The National Institute of Health has come up with a list of conditions that marijuana appears to be of most benefit, however many patients find it relieves a variety of medical ailments.</p>
  <br />
  <ol>
    <li>
      Stimulates appetite and relieves cachexia (the physical wasting away of AIDS and cancer sufferers)
    </li>
    <li>
      Control nausea and vomiting associated with cancer chemotherapy
    </li>
    <li>
      Decrease intraocular pressure inside the eyeball for relief of glaucoma
    </li>
    <li>
      Analgesia for chronic pain due to variety of conditions
    </li>
    <li>
      Neurological and movement disorders, such as muscle spasticity and seizures.
    </li>
  </ol>
  <br />
  <h1>Primary Effects</h1>
  <p>The most obvious effects of marijuana are on the nervous system and the brain. The initial effect is a dulling of the sense, blunting of memory and concentration, changes in behavior. Pain in altered, nausea is calmed, appetite is stimulated. There is some question over how much, if any, actual changes occur in the brain with chronic use.</p>
  <br />
  <h1>The Side effects</h1>
  <p>The intoxication and effects on the nervous system lead to lead to slows reaction and loss of coordination which last four hours after ingestion. These effects make driving a car or operating machinery hazardous, and these activities should be avoided while under the influence of marijuana.</p>
  <br />
  <p>Cannabinoids and THC also produce cardiovascular effects. Immediately after inhalation the heart begins to beat faster, the blood pressure drops. This can cause dizziness and sensation of palpitations in some people, and may cause problems for older people with cardiac conditions.</p>
  <br />
  <p>Smoking marijuana is the most common form of ingestion, but it is not the only one. The lungs do suffer from this method. There are hundreds of chemical compounds in the marijuana plant, and smoking delivers all of them along with the desired ones. Smoking of any kind suppresses the natural defense system of the lungs. The airways of the lungs are lined with tissue that has microscopic cilia, or little fingerlike extensions that ‘wave’ upwards from the lungs, to the mouth and nose. The purpose is to push mucus filled with foreign toxins back up and out of the lungs to the mouth and nose, where they can be swallowed or sneezed out. These cilia stop working with any kind of smoking, which means that the toxins (or organisms) trapped in the mucus have no way to escape the lung. This means that, bottom line, smokers at higher risk of chronic lung conditions, infections and cancer. Vaporizers are helpful in eliminating the most of the harmful effects of smoking.</p>
  <br />
  <p>The risks of using marijuana during pregnancy are unknown. However there is a study using monkeys that demonstrates a withdrawal syndrome in the infants of mothers who have THC in their system at the time delivery.</p>
  <br />
  <h1>The Long Term Effect</h1>
  <p>There is a documented withdrawal syndrome associated with the cessation of marijuana use after as little as a week. However, this is not a common reaction and does not occur in the majority of users. The body does not become physically dependent. The symptoms of the withdrawal syndrome are; irritability, insomnia, mood swings, mild depression.</p>
  <br />
  <p>Long-term marijuana use can cause some mood disturbances, depression, and apathy, even in otherwise healthy individuals. A ‘drug holiday’ of at least 3 weeks every 3-4 months is a good idea. This can help the patient differentiate side effects of marijuana from the possible symptoms of an illness. The apathy associated with marijuana use can contribute or worsen other processes, such as generalized anxiety disorder, social isolation, and obesity.</p>
</div>
