<div class="block">
  <h1>Frequently Asked Questions</h1>
  <ol>
    <li>
      <b>Is the use of marijuana legal in the state of California?</b>
      <p>
        California voters passed the Proposition 215 in 1996 which caused the creation of SB420,“The Compassionate Use Act” (California Health and Safety Code §11362.5),which allow legal access to marijuana when recommended by a Physician.
      </p>
      <br />
      <p>
        *This is only a California State Law; the federal government does not recognize medical marijuana.
      </p>
      <br />
    </li>
    <li>
      <b>Who is eligible for legal medical marijuana?</b>
      <p>
        Patients with a wide variety of conditions may qualify for a medical marijuana approval or recommendation including, but not limited to:
      </p>
      <ul>
        <li>Cancer</li>
        <li>AIDS/HIV</li>
        <li>Anorexia</li>
        <li>Migraine Headaches</li>
        <li>Chronic Pain</li>
        <li>Glaucoma</li>
        <li>Depression</li>
        <li>Sports Injury</li>
        <li>Arthritis</li>
        <li>Any other conditions or illness.</li>
      </ul>
      <br />
    </li>
    <li>
      <b>How do I get a physician’s recommendation or approval?</b>
      <p>
        In order to obtain a “recommendation”, the patient must suffer from any of the conditions listed above.  The physician, through their expertise and knowledge will determine what “any other conditions or illness” during the evaluation.
      </p>
      <br />
    </li>
    <li>
      <b>How do I set up an appointment to get a recommendation?</b>
      <p>
        A consultation can be scheduled by calling (323) 965-0420.
      </p>
      <br />
    </li>
    <li>
      <b>What is the fee for the consultation for the recommendation?</b>
      <p>
        Please contact us at (323) 965-0420 for current rates. If patients do not qualify for a recommendation under Prop 215, they will not be charged our fee.
      </p>
      <br />
    </li>
    <li>
      <b>Can I get an evaluation if I am under 18 years old?</b>
      <p>
        You must be over the age of 18 to qualify for a recommendation.  No exceptions.
      </p>
      <br />
    </li>
    <li>
      <b>What documentation do I need to bring to my consultation appointment?</b>
      <ul>
        <li>A valid California Photo ID.</li>
        <li>
          Medical documentation supporting your condition, including their diagnosis, the name, address, phone number and fax number of their primary healthcare provider. <b>However, if medical records cannot be obtained, the physician will evaluate each patient on an individual basis to see if additional documentation is needed.</b>
        </li>
      </ul>
      <br />
    </li>
    <li>
      <b>What happens with the information I give to Medical Advisory Center?</b>
      <p>
        Our clinics all follow the Federal Doctor-Patient Confidentiality (HIPPA) laws.  Information will not be shared with anyone at anytime without the written request by our patients. Our patients names are not put on any lists nor will we speak to any of your current physicians or family members about your recommendation.
      </p>
      <br />
    </li>
  </ol>
</div>